Repository trueberryless-org/starlight-view-modes, pull requests merged in 2025-04, with the labels that each got.

#69 Add support for keyboard shortcuts
  .changeset/many-goats-smell.md
  docs/astro.config.mjs
  docs/src/content/docs/configuration.mdx
  packages/starlight-view-modes/components/KeyboardShortcuts.astro
  packages/starlight-view-modes/components/ViewModeSwitcher.astro
  packages/starlight-view-modes/components/starlight/Search.astro
  packages/starlight-view-modes/components/starlight/SocialIcons.astro
  packages/starlight-view-modes/components/starlight/TableOfContents.astro
  packages/starlight-view-modes/data.ts
  packages/starlight-view-modes/libs/config.ts
  packages/starlight-view-modes/libs/definitions.ts
  packages/starlight-view-modes/libs/routeData.ts
  packages/starlight-view-modes/libs/shortcuts.ts
  packages/starlight-view-modes/overrides/SocialIcons.astro
  packages/starlight-view-modes/overrides/TableOfContents.astro
  packages/starlight-view-modes/package.json
  packages/starlight-view-modes/tests/utils.test.ts
Labels: 📝 changeset, 🚧 config, ⏫ enhancement, 🌏 i18n, 📦 package

#74 i18n: add French translations
  .changeset/famous-wasps-film.md
  packages/starlight-view-modes/translations.ts
Labels: 📝 changeset, 📦 package

#77 fix: update @HiDeoo's links-validator to fix tests
  docs/package.json
  packages/starlight-view-modes/tests/builds.test.ts
  packages/starlight-view-modes/tests/fixtures/base-path/package.json
  packages/starlight-view-modes/tests/fixtures/basic/package.json
  packages/starlight-view-modes/tests/fixtures/i18n-base-path/package.json
  packages/starlight-view-modes/tests/fixtures/i18n-root-base-path/package.json
  packages/starlight-view-modes/tests/fixtures/i18n-root/package.json
  packages/starlight-view-modes/tests/fixtures/i18n/package.json
  packages/starlight-view-modes/tests/fixtures/trailing-slash-always/package.json
  packages/starlight-view-modes/tests/fixtures/trailing-slash-ignore/package.json
  packages/starlight-view-modes/tests/fixtures/trailing-slash-never/package.json
  pnpm-lock.yaml
Labels: 🌏 i18n, 📦 package

#78 Add spanish translations
  packages/starlight-view-modes/translations.ts
Labels: 📦 package

#79 Add `pt` translation
  packages/starlight-view-modes/translations.ts
Labels: 📦 package

#80 i18n(ko-KR): add Korean translation
  packages/starlight-view-modes/translations.ts
Labels: 📦 package

#85 i18n(zh-cn): Add Chinese translation in `translations.ts`
  packages/starlight-view-modes/translations.ts
Labels: 📦 package

#86 Upgrade to Starlight `v0.33`
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/index.mdx
  packages/starlight-view-modes/package.json
  packages/starlight-view-modes/tests/fixtures/base-path/package.json
  packages/starlight-view-modes/tests/fixtures/basic/package.json
  packages/starlight-view-modes/tests/fixtures/i18n-base-path/package.json
  packages/starlight-view-modes/tests/fixtures/i18n-root-base-path/package.json
  packages/starlight-view-modes/tests/fixtures/i18n-root/package.json
  packages/starlight-view-modes/tests/fixtures/i18n/package.json
  packages/starlight-view-modes/tests/fixtures/trailing-slash-always/package.json
  packages/starlight-view-modes/tests/fixtures/trailing-slash-ignore/package.json
  packages/starlight-view-modes/tests/fixtures/trailing-slash-never/package.json
  pnpm-lock.yaml
Labels: 🚧 config, 🌏 i18n, 📦 package

#87 Update translations.ts
  packages/starlight-view-modes/translations.ts
Labels: 📦 package
